<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>

    En esta página podrán ver los datos de mis familiares:
    <br>
    <br>
    <br>
Familiar 1:
    <br>
    <br>
Nombre: {{familiar.nombre}}
    <br>
Apellido: {{familiar.apellido}}
    <br>
Edad: {{familiar.edad}}
    <br>
Fecha de Nacimiento: {{familiar.fecha_nacimiento}}


</body>
</html>